<div class="row no-gutters header-row">
  <div class="col-sm-9 no-float row-margin">
    <h2>Mission Status</h2>
  </div>
  <div class="col-sm-3 no-float">
    <app-dropdown-menu></app-dropdown-menu>
  </div>
  <div class="col-sm-9 no-float row-margin">
    <div class="row">
      <div *ngFor="let grouping of groupings | keyvalue; index as i" class="custom-control custom-checkbox checkbox-xl">
        <input type="checkbox" class="custom-control-input" id="checkbox-{{i}}" name="checkbox-list"
          [(ngModel)]="grouping.value.view" (click)="grouping.value.view = !grouping.value.view; renderGraph()">
        <label class="custom-control-label" for="checkbox-{{i}}">{{grouping.value.name}}</label>
      </div>
    </div>
  </div>
  <div>
    <button *ngFor="let option of options" (click)="onSelect(option)">{{option['origin']}} ->
      {{option['dest']}}</button>
  </div>
  <div>
    <h3 style="margin-left: 15pt;">Choose Mission</h3>
    <div class="row">
      <div style="margin-left: 30pt;">
        <select (change)="onMissionSelect($event)">
          <option *ngFor="let mission of missionList">{{mission}}</option>
        </select>
      </div>
    </div>
    <div id="container" class="col-sm-9 no-float row-margin">
      <a class="center" id="graph2"></a>
      <app-drones></app-drones>
    </div>
  </div>